.wrapper {
  margin-top: 100px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AddNewForm {
  margin-right: 140px;
  margin-top: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
