.td {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btnDiv img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btnDiv img {
  width: 25px;
  height: 25px;
}
