.table {
  margin-top: 30px;
  margin-left: 30px;
  width: 920px;
  border-collapse: collapse;
  text-align: left;
  font-size: 15px;
  background: #ffffff;
  border: 1px solid rgba(20, 20, 43, 0.25);
  border-radius: 16px 16px 0;
}
.header {
  background-color: #3faad7;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.header td {
  padding: 10px;
  text-align: left;
}
