.wrapperClock {
  border: 1px solid rgba(20, 20, 43, 0.25);
  border-radius: 16px;
  margin-left: 70px;
  background: #f9fafc;
  font-family: "Poppins", sans-serif;
}

.div {
  margin: 20px;
}
.div h1 {
  font-size: 20px;
}
.formInputs input {
  border: 1px solid rgba(20, 20, 43, 0.25);
  height: 33px;
  width: 230px;
  border-radius: 16px;
  margin-bottom: 15px;
}

.formInputs button {
  -webkit-appearance: none;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  color: #fff;
  background-color: #3faad7;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.secDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.secDiv img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
